{
    "presets": [
        ["es2015", { "modules": false }],
        "stage-2",
        "react"
    ],
    "plugins": [
        "external-helpers"
    ],
    "env": {
        "test": {
            "plugins": ["transform-es2015-modules-commonjs"]
        }
    }
}
